@use 'colors';

#gallery img {
    max-width: 100%;
    background-color: colors.$background-color;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    cursor: pointer;
}

