.top-nav {
  background-color: #436850;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.top-nav p {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10px;
}

.top-nav span,
.top-nav i {
  vertical-align: middle;
}

.navbar {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.social-icons a {
  width: 28px;
  height: 28px;
  display: inline-flex;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.25);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.social-icons a:hover {
  background-color: #fff;
  color: #436850;
}

.navbar .navbar-nav .nav-link {
  color: #092032;
}

.navbar .navbar-nav .nav-link:hover {
  color: #436850;
}

.navbar .navbar-nav .nav-link.active {
  color: #436850;
}

.navbar-brand {
  font-size: 28px;
  font-weight: 700;
}

.navbar-brand .dot {
  color: #436850;
}

.btn {
  padding: 8px 26px;
}

.btn-brand {
  border-color: #436850;
  background-color: #436850;
  color: #fff;
}

.btn-brand:hover {
  background-color: #436850;
  border-color: #436850;
  color: #fff;
}

.hero-slider .owl-prev,
.hero-slider .owl-next {
  background-color: rgba(255, 255, 255, 0.3) !important;
  width: 60px !important;
  height: 60px !important;
  display: block;
  display: grid;
  place-items: center;
  color: #fff !important;
  border-radius: 100px;
  line-height: 0;
  border-radius: 100px !important;
  position: absolute;
  top: 50%;
  font-weight: 600 !important;
  font-size: 12px !important;
  transition: all 0.4s ease;
  margin-top: -30px !important;
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover {
  background-color: #fff !important;
}

.owl-dot.active span {
  background-color: #436850 !important;
}

/* slide */
.slide {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slide1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/photo001.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/turistas.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide3 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/luxuryhouse.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.slide .display-3 {
  text-transform: uppercase;
  color: #fff;
}

.intro {
  margin-bottom: 36px;
  text-align: center;
}

.intro p {
  max-width: 500px;
}

.intro h6 {
  color: #436850;
  font-weight: 400;
  text-transform: uppercase;
}

.intro h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.blog-post {
  position: relative;
  background-color: #fff;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.blog-post .content {
  padding: 32px;
}

.blog-post a {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #436850;
  padding: 2px 12px;
  border-radius: 100px;
  text-decoration: none;
  color: #fff;
}

.blog-post h5 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.blog-post small {
  text-transform: uppercase;
  color: #436850;
  text-decoration: underline;
}

#blog img {
  height: 15rem;
}

#gallery img {
  max-width: 100%;
  background-color: #fff;
  padding: 15px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

footer {
  background-color: #fff;
}

footer #copyright {
  background-color: #436850;
}

body {
  font-family: "Barlow", sans-serif;
  color: #516171;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6,
.display-1, .display-2, .display-3, .display-4 {
  font-weight: 700;
  color: #092032;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  width: 100%;
}

a {
  color: #092032;
  transition: all 0.4s ease;
  font-weight: 500;
}

a:hover {
  color: #436850;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.modal #modalBtn {
  background-color: #436850;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
